doctype html
html
    head
        title Chat
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css') 
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/scripts/script.js')
    body
        div.container
            header
                h1 Chat Server
            div#reg-modal.modal.fade
                div#modal-md.modal-dialog
                    div.modal-content
                        div.modal-header
                            h4.modal-title
                                | Connect To Chat
                        div.modal-body
                            form
                                div.form-group
                                    label(for='nickname-input')
                                        | Nickname
                                    input#nickname-input.form-control.input-xlarge(type='text' placeholder='Enter a nickname')
                                div.form-group
                                    div(role='tabpanel')
                                        ul.nav.nav-tabs(role='tablist')
                                            li#create-tab-header.active(role='presentation')
                                                a(href='#create-tab' aria-controls='create' role='tab' data-toggle='tab')
                                                    | Create a Room
                                            li#join-tab-header(role='presentation')
                                                a(href='#join-tab' aria-controls='join' role='tab' data-toggle='tab')
                                                    | Join a Room
                                        div.tab-content
                                            div#create-tab.tab-pane.active(role='tabpanel')
                                                br
                                                div.form-group
                                                    label(for='create-input')
                                                        | The name of your room is...
                                                    input#create-input.form-control.input-xlarge(type='text' disabled)
                                            div#join-tab.tab-pane(role='tabpanel')
                                                br
                                                div.form-group
                                                    label(for='join-input')
                                                        | Enter the name of your room...                                
                                                    input#join-input.form-control.input-xlarge(type='text' placeholder='Enter a room name')                                        
                        div.modal-footer
                            button#submit-user-button.btn.btn-primary(type='button')
                                | Submit
            #chat-window
            #chat-controls
                input(type='text')#message-input