doctype html
html
    head
        title Chat
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')    
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='/socket.io/socket.io.js')
        script(src='/scripts/script.js')
    body
        div.container
            header
                h1 Chat Server
            div#reg-modal.modal.fade
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            h4.modal-title
                                | User Registration
                        div.modal-body
                            div.input-group
                                input#nickname-input.form-control(type="text" placeholder="Nickname" aria-describedby="basic-addon2")
                            p.text-warning
                                small
                                    | If you don't save, your changes will be lost
                        div.modal-footer
                            button.btn.btn-primary(type="button")
                                | Submit
            #chatWindow
            #chatControls
                input(type='text')#messageInput