doctype html
html
    head
        title Chat
        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
        link(href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/stylesheets/style.css') 
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
        script(src='/bootstrap/js/bootstrap.min.js')
        script(src='//10.0.1.7:8080/easyrtc/easyrtc.js')
        script(src='/socket.io/socket.io.js')
        script(src='/scripts/script.js')
    body
        div#reg-modal.modal.fade
            div#modal-md.modal-dialog
                div.modal-content
                    div.modal-header
                        h4.modal-title
                            | Connect To Chat
                    div.modal-body
                        form
                            div#nickname-group.form-group
                                label(for='nickname-input')
                                    | Enter a nickname...
                                input#nickname-input.form-control(type='text' placeholder='Nickname' aria-describedby="nickname-status")
                            div.form-group
                                div(role='tabpanel')
                                    ul.nav.nav-tabs(role='tablist')
                                        li#create-tab-header.active(role='presentation')
                                            a(href='#create-tab' aria-controls='create' role='tab' data-toggle='tab')
                                                | Create a Room
                                        li#join-tab-header(role='presentation')
                                            a(href='#join-tab' aria-controls='join' role='tab' data-toggle='tab')
                                                | Join a Room
                                    div.tab-content
                                        div#create-tab.tab-pane.active(role='tabpanel')
                                            br
                                            div.form-group
                                                label(for='create-input')
                                                    | The name of your room is...
                                                input#create-input.form-control(type='text' disabled)
                                        div#join-tab.tab-pane(role='tabpanel')
                                            br
                                            div#room-group.form-group
                                                label(for='join-input')
                                                    | Enter the name of your room...                                
                                                input#room-input.form-control(type='text' placeholder='Room Name' aria-describedby="room-status")                                        
                    div.modal-footer
                        button#connect-user-button.btn.btn-primary(type='button')
                            | Connect
        div#top-bar.border-bar
                div#room-name-header.indent-bar-element
        div.sidebar-element.sidebar-header
            div#site-name
                | prattle.me
        div.sidebar-element.sidebar-body
            ul#user-list
                h4
                    | users
        div#chat-window
        div.sidebar-element.sidebar-footer
            #nickname-display.nav.nav-sidebar
        div#chat-bar.border-bar
            div.input-group.indent-bar-element
                input#message-input.form-control(placeholder="A message...")
                span.input-group-btn
                    button#message-button.btn.btn-default(type="button")
                        span.glyphicon.glyphicon-circle-arrow-right(aria-hidden="true")
        div#media-elements